/*NavBar Iteam */
.navbar {
  align-items: center;
}

#i-1>.title {
  display: none;

}

ul>li {
  font-size: 0.7rem;
  align-items: center;
}

.ic-h{
  padding: 0px;
  margin-top: 2px;
  margin-bottom: 0px;
  
}
#t-1,
#t-2{
  font-size:1.0rem;
}
.ic-h>img{
  width: 6vw;
  padding-left: 2vw;
}
.clock{
  display: none;
}
.splash{
  font-size: 20px;
}
.h-1{
  font-size: 3rem;
  
}
.h-2{
  font-size: 2rem;
  margin-top: 0.1vh;
}
.h-3{
  font-size: 1rem;
}
#a-3 {
  margin-right: 2vw;
}
.link{
  margin-left: 1vw;
}
.title{
  font-size: 0.7rem;
}
.container{
  height: 78vh;
}
#i-2{
  display: none;
}
