body {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  color: cyan;
  position: sticky;
  top: 0;
  border-bottom: 1px solid cyan;
  z-index: 2;

}

.ic-h {
  display: flex;
  align-items: center;

}

.ic-h>img {
  width: 3VW;
  padding: 0.5vw;
}

.navbar::before {
  content: "";
  background-color: black;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  position: absolute;
  opacity: 0.7;
}

#frist-section {
  position: relative;
}

#first-section::before {
  background: url('../img/bg.jpg') no-repeat center center/cover;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9;
}

#i-1,
#i-2 {
  /* border: 2px solid red;*/
  padding: 0px 0px;
  display: flex;
  flex-wrap: wrap;
}

#i-1 {
  display: flex;
  margin: 8px 0px 0px 0px;
}

#i-2 {
  flex-grow: 2;
  display: flex;
  flex-flow: row-reverse;
}

.ic>img {
  display: inline-block;
  width: 40px;
  margin-top: 4px;
}

.title {
  display: inline-flex;
  margin: 8px 0px 2px 16px;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  align-items: center;
}

ul>li {
  display: inline-block;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;

}

.link {
  text-decoration: none;
  color: white;
  margin-left: 3px;
  font-family: 'Noto Sans', sans-serif;

}
.link:hover{
  color: cyan;
}

#a-3 {
  font-weight: bold;
  background-color: white;
  color: Black;
  border-radius: 2px;
  padding: 0.5vh 0.8vw 0.5vh 0.8vw ;
  /* border-radius: 2px solid red;*/
}

#a-3:hover {
  color: black;
  background-color: cyan;


}

/* font-family: 'Josefin Sans', sans-serif;*/

.container {
  /* border: 2px red solid;*/
  position: relative;
  padding: 16px 16px;
  padding-bottom: 0px;
  margin-top: 12px;
  display: flex;
  flex-flow: column;
  border-bottom: 2px solid cyan;
}

.title2,
.sub,
.prop {
  /*border: 2px solid red;*/
  margin: 0px;
}

.h-1 {
  border-start-end-radius: 20px;
  border-end-start-radius: 20px;
  display: inline-flex;
  background-color: cyan;
  font-size: 3rem;
  padding: 14px 14px;
  font-weight: bold;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 2px 4px 7px black;
}

.h-2 {
  margin-top: 12px;
  margin-left: 10px;
  font-size: 1.8rem;
  color: white;
  padding: 0px 0px;
  font-family: 'Josefin Sans', sans-serif
}

.h-3 {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 1.3rem;
  padding: 0px 0px;
  color: white;
  font-family: 'Josefin Sans', sans-serif
}

.hire {
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  padding: 8px 16px 8px 16px;
  color: #0B1A27;
  border: 1px cyan solid;
  background-color: cyan;
  border-radius: 25px;

}
.hire:hover{
  box-shadow: 1px 1px 8px 1px rgb(126, 224, 224);
}

.hirer {
  display: flex;
  flex-flow: row-reverse;
  margin-top: 0px;
  margin-bottom: 8px;
}

.adrs,
.adrs2,
.adrs3 {
  /*border: solid 2px red;*/
  color: white;
}
.adress {
  /* border:2px solid red;*/
  margin-top: 13px;
  display: flex;
  color: white;
  flex-flow: column;
}

.ad-1,
.ad-2,
.ad-3 {
  display: flex;
}

.adrs,
.adrs2,
.adrs3 {
  margin-left: 18px;
  display: inline-flex;
  font-size: 0.9rem;
  padding: 2px;
  color: cyan;
  flex-grow: 2;
  text-shadow: 5px 6px 3px black;
  font-family: 'Josefin Sans', sans-serif;
  margin: auto auto;
}

.im,
.im2,
.im3 {
  margin-left: 4px;
  display: inline-flex;
}

.lic {
  width: 20px;
}
/*Start Float social*/

.iccontainer {
  /* border: 2px solid red;*/
  display: flex;
  flex-direction: column;
  position: fixed;
  float: left;
  clear: top bottom left right;
  left: 4px;
  margin-top: 1px;
  z-index: 1;
}

.ic {
  height: 28px;
  width: 28px;
  padding-top: 0px;
}

.ic-1,
.ic-2,
.ic-3 {
  margin-top: 0px;
  background-color: cyan;
  padding-top: 0px;
}

.d {
  margin: 12px 23px;
  padding: 12px 23px;
}

.id-1,
.id-2,
.id-3 {
  display: flex;
  display: inline-flex;
  align-items: center;
  background-color: cyan;
}

.facebook,
.insta,
.tw {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  padding: 4px;
  border-left: 2px solid white;
  display: none;

}

.ic-1:hover+.facebook {
  display: inline-block;
}

.ic-2:hover+.insta {
  display: inline-block;
}

.ic-3:hover+.tw {
  display: inline-block;
}

/* About Section*/
.c-head {
  /*border:2px red solid;*/
  border-bottom: 1px solid cyan;
  display: flex;
  align-items: center;
  margin-top: 0px;
  font-size: 1.5rem;
}

.c-head img {
  height: 50px;
  width: 50px;
  margin: 4px 8px;

  border: 2px solid cyan;
  border-radius: 50%;


}

#name {
  padding-left: 13px;
  color: cyan;
  font-family: 'Josefin Sans', sans-serif;
}

#about-box {
  border: solid cyan 2px;
  padding: 4px 4px;
  background-color: #0B1A27;
  margin: 0px 8px 0px 8px;
  border-radius: 5px;
  width: 60vw;
  box-shadow: 8px 8px 8px black;
}

#t-1,
#t-2 {
  color: cyan;
  font-size: 1.2rem;
  line-height: 1.9em;
  padding-left: 14px;
  font-family: 'Comfortaa', cursive;

}

#m {
  background-color: cyan;
  color: black;
  padding: 0px 3px 0px 3px;
  border-radius: 1px;
  word-spacing: 0.4em;

}

#about {
  position: relative;
  display: flex;
  justify-content: center;
}

#about {
  background-color: #12344A;
  padding: 50px 0px 30px 0px;
  border-bottom: 1px solid cyan;
}

/*Footer */
footer {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 12px;
  text-align: center;
}

/*Third Section*/
#section-third {
  background-color: #12344A;
  padding: 16px;
  color: white;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid cyan;
}

#base {
  background-color: #0B1A27;
  margin: 8px 0px 8px 0px;
  padding: 0px;
  border-radius: 8px;
  font-family: 'Comfortaa', cursive;
  width: 90vw;

}

.prog {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;

}

.p-container {
  display: flex;
  flex-direction: column;


}

#html,
#css,
#js,
#c {
  color: black;
  background-color: cyan;
  padding-left: 0px;
  height: 100%;
  width: 0%;
  padding: 10px;
  border-radius: 8px;

}

/*Animation*/
#html {
  position: relative;
  animation-name: anime-1;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  overflow: hidden;

}

#css {
  position: relative;
  animation-name: anime-2;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  overflow: hidden;

}

#js {
  position: relative;
  animation-name: anime-3;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

}

#c {
  position: relative;
  animation-name: anime-4;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

}

@keyframes anime-1 {
  from {
    width: 0vw;
  }

  to {
    width: 88vw;
  }
}


@keyframes anime-2 {
  from {
    width: 0vw;
  }

  to {
    width: 88vw;
  }
}

@keyframes anime-3 {
  from {
    width: 0vw;
  }

  to {
    width: 63vw;
  }
}

@keyframes anime-4 {
  from {
    width: 0vw;






  }

  to {
    width: 24vw;
  }
}

#contact {
  position: relative;
  margin-top: 0px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact::before {
  background: url('../img/map.jpg') no-repeat center center/cover;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9;
}
.clock{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: cyan;
  left: 30vw;
  font-size: 1.1rem;
letter-spacing: 5px;
font-family: 'Orbitron', sans-serif;

}

.splash{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color:#12344A;
  transition: all ease-in-out 600ms;
  z-index: 10;
  font-family: monospace;
}
.hidden{
  transition: 0.5s;
  display: none;
}
.splash-header{
  /* height: 90%; */
  color: cyan;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.logo-img>img{
  width: 22%;


}
.logo-img{
  display: flex;
  align-items: center;
  justify-content: center;
}
