body {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  color: cyan;
  position: sticky;
  top: 0;
  z-index: 2;
  margin-top: 0vh;
  padding:  1.2% 0% 0% 0% ;
}

.ic-h {
  display: flex;
  align-items: center;
  width: 35vw;
}

.ic-h > img {
  width: 9%;
  margin-left: 2%;
}

.navbar::before {
  content: "";
  background-color: black;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  position: absolute;
  opacity: 0.7;
}

#first-section::before {
  background: url("../img/bg.jpg") no-repeat center center/cover;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9;
}

#i-1,
#i-2 {
  display: flex;
  height: 8vh;
}

#i-2 {
  flex-grow: 2;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.ic > img {
  display: inline-block;
  width: 40px;
  margin-top: 4px;
}

.title {
  display: inline-flex;
  margin: 6px 0px 4px 16px;
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;

  align-items: center;
}

ul > li {
  display: inline-block;
  padding: 0.2vw;
  list-style: none;
}

.link {
  text-decoration: none;
  color: aliceblue;
  margin-left: 5vw;
  font-family: "Comfortaa", cursive;
  font-size: 0.9rem;
  font-weight: bold;
  transition: color 0.5s ease;
}
.link:hover {
  color: cyan;
}
/* font-family: 'Josefin Sans', sans-serif;*/

.container::before {
  content: "";
  background-color: black;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  position: absolute;
  opacity: 0.7;
}
.container {
  /* border: 2px red solid;*/
  position: relative;
  padding: 5%  1%  1% 1% ;
  
  display: flex;
  flex-flow: column;
  height: 75vh;
}

.h-1 {
  
  display: inline-flex;
  
  font-size: 6rem;
 
  font-weight: bold;
  color: cyan;
  font-family: "Josefin Sans", sans-serif;
  animation-name: intro;
  animation-duration: 2s;


}

.h-2 {
  margin-left: 2%;
  font-size: 3.8rem;
  font-weight: bold;
  color: white;
  padding: 0px 0px;
  font-family: "Josefin Sans", sans-serif;

}

.h-3 {
  margin-top: 2vh;
  margin-left: 4vw;
  font-size: 1.3rem;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.hire {
  text-decoration: none;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.1rem 1.5rem  0.1rem  1.5rem;
  color: #0b1a27;
  background-color: cyan;
  border-radius: 0.2rem;
}
.hire:hover {
  box-shadow: 1px 1px 8px 1px rgb(126, 224, 224);
  background-color: rgba(0, 255, 255, 0.791);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  color:white;
}

.hirer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 8px;
  height: 43vw;
  width: 90vw;
}

.adrs,
.adrs2,
.adrs3 {
  /*border: solid 2px red;*/
  color: white;
}
.adress {
  /* border:2px solid red;*/
  margin-top: 13px;
  display: flex;
  color: white;
  flex-flow: column;
}

.ad-1,
.ad-2,
.ad-3 {
  display: flex;
}

.adrs,
.adrs2,
.adrs3 {
  margin-left: 18px;
  display: inline-flex;
  font-size: 0.9rem;
  padding: 2px;
  color: cyan;
  flex-grow: 2;
  text-shadow: 5px 6px 3px black;
  font-family: "Josefin Sans", sans-serif;
  margin: auto auto;
}

.im,
.im2,
.im3 {
  margin-left: 4px;
  display: inline-flex;
}

.lic {
  width: 20px;
}
/*Start Float social*/

.iccontainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  float: left;
  clear: top bottom left right;
  left: 4px;
  margin-top: 69vh;
  z-index: 1;
}

.ic {
  height: 28px;
  width: 28px;
  padding-top: 0px;
}

.ic-1,
.ic-2,
.ic-3 {
  margin-top: 0px;
  background-color: rgb(0, 255, 255);
  padding-top: 0px;
}

.d {
  margin: 12px 23px;
  padding: 12px 23px;
}

.id-1,
.id-2,
.id-3 {
  display: flex;
  display: inline-flex;
  align-items: center;
  background-color: cyan;
}

.facebook,
.insta,
.tw {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  padding: 4px;
  border-left: 2px solid white;
  display: none;
}

.ic-1:hover + .facebook {
  display: inline-block;
}

.ic-2:hover + .insta {
  display: inline-block;
}

.ic-3:hover + .tw {
  display: inline-block;
}

/* About Section*/
.c-head {
  /*border:2px red solid;*/
  border-bottom: 1px solid cyan;
  display: flex;
  align-items: center;
  margin-top: 0px;
  font-size: 1.5rem;
}

.c-head img {
  height: 50px;
  width: 50px;
  margin: 4px 8px;

  border: 2px solid cyan;
  border-radius: 50%;
}

#name {
  padding-left: 13px;
  color: cyan;
  font-family: "Josefin Sans", sans-serif;
}

#about-box {
  padding: 8px 8px;
  background-color: #0b1a2756;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin: 0px 8px 0px 8px;
  border-radius: 20px;
  width: 60vw;
  box-shadow: 0px 8px 32px 0 rgba(0, 255, 255, 0.773);
}

#t-1,
#t-2 {
  color: cyan;
  font-size: 1.2rem;
  line-height: 1.9em;
  padding-left: 14px;
  font-family: "Comfortaa", cursive;
}

#m {
  background-color: cyan;
  color: black;
  padding: 0px 3px 0px 3px;
  border-radius: 1px;
  word-spacing: 0.4em;
}

#about {
  position: relative;
  display: flex;
  justify-content: center;
 background-color: #12344a; 
  padding: 50px 0px 30px 0px;
  border-bottom: 1px solid cyan;
}


/*Third Section*/
#section-third {
  background-color: #12344a;
  padding: 16px;
  color: white;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid cyan;
}

#base {
  background-color: #0b1a27;
  margin: 8px 0px 8px 0px;
  padding: 0px;
  border-radius: 8px;
  font-family: "Comfortaa", cursive;
  width: 90vw;
}

.prog {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
}

.p-container {
  display: flex;
  flex-direction: column;
}

#html,
#css,
#js,
#c {
  color: black;
  background-color: cyan;
  padding-left: 0px;
  height: 100%;
  width: 0%;
  padding: 10px;
  border-radius: 8px;
}

/*Animation*/
#html {
  position: relative;
  animation-name: anime-1;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}

#css {
  position: relative;
  animation-name: anime-2;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}

#js {
  position: relative;
  animation-name: anime-3;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

#c {
  position: relative;
  animation-name: anime-4;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes anime-1 {
  from {
    width: 0vw;
  }

  to {
    width: 88vw;
  }
}

@keyframes anime-2 {
  from {
    width: 0vw;
  }

  to {
    width: 88vw;
  }
}

@keyframes anime-3 {
  from {
    width: 0vw;
  }

  to {
    width: 63vw;
  }
}

@keyframes anime-4 {
  from {
    width: 0vw;
  }

  to {
    width: 24vw;
  }
}

#contact {
  position: relative;
  margin-top: 0px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact::before {
  background: url("../img/map.jpg") no-repeat center center/cover;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9;
}


.splash {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(18, 52, 74, 0.714);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  transition: all ease-in-out 600ms;
  z-index: 10;
  font-family: monospace;
}
.hidden {
  transition: 0.5s;
  display: none;
}
.splash-header {
  /* height: 90%; */
  color: cyan;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img > img {
  width: 22%;
}
.logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub {
  margin-top: 4vh;
  margin-left: 2vw;
}
.title2 {
  margin-top: 4vh;
  margin-left: 4vw;
}
.active{
  color:cyan
}
/* side bar css */
.side-menu{
  position:fixed;
  background-color: rgba(11, 26, 39, 0.702);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter:blur(5px);
  height: 100vh;
  width: 40vw;
  clear: top bottom left right;
  float: right;
  right: 0px;
  display: flex;
  justify-content: center;
  z-index: 2;
  transition: 5s ease;
}
.side-menu ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 45%;
  width: 100%;
}


.side-menu ul li{
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 4% -13%;
}
.side-menu a{
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 4% 7% 4% 5%;
  transition: background-color 0.5s ease;
}
.side-menu a:hover{
  background-color: cyan;
  color: #0b1a27;
  font-size: 0.9rem ;
}
#toggle-btn{
  position: fixed;
 background: transparent;
  color: white;
  border: 1px solid white;
  width: 3%;
  height: 6%;
  float: right;
  clear: top bottom right left;
  right: 3%;
}
.side-menu{
  display: none;
}
.menubtn{
  background: transparent;
  color: cyan;
  font-size: x-large;
  border: none;
  outline: none;
  margin-right: 2.8vw;
}
.side-bar-menu{
  display: none;
  width: 100vw;
  align-items: center;
  justify-content: flex-end;
}
.social-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2%;
}
.icon{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 4rem;
}
.icon>img{
  width: 35%;
  filter: saturate(0);
  border-radius: 2rem;
  transition: filter 0.5s ease;
}
.icon>img:hover{
  filter: saturate(1);
}